.nav__container {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(177, 171, 163);
    height: 70px;
}

.btn {
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    margin-left: 15px;
    cursor: pointer;
}

.login__btn {
    margin-right: 50px;
    background-color: rgb(120, 120, 198);
}

.register__btn {
    background-color: rgb(209, 169, 88);
}

/* loading state */

.skeleton__wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
    margin-right: 170px;
}

.skeleton {
  width: 100%;
  max-width: 100px;
  height: 50px;
  background-color: rgb(204, 204, 204);
  margin-bottom: 8px;
  border-radius: 50px;
}

.skeleton__register--btn {
  height: 35px;
  width: 70px;
}

.skeleton__login--btn {
  width: 70px;
  height: 35px;
}